body{
    background-color: #adb5bd;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.header{
    background-color: white;
    padding: 70px;
    margin: 50px;
    height: 500px;
    
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}