body{
    background-color: #0077b6;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: sans-serif;
}
.titulo{
    font-family: sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 30px;
    
}
.cadastro{
    background-color: #f8f9fa;
    border-radius: 35px;
    padding: 35px;
    margin: 20px;
    width: 500px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;


}
input{
    border-radius: 6px;
    
}
.botao{
    background-color:  #0077b6;
    color: #f8f9fa;
    width: 105px;
    height: 30px;
    border-radius: 12px;
}