body {
            font-family: Arial, Helvetica, sans-serif;
            background-color: #91A3B0;
            margin: 0;
            padding: 0;
        }

        .container {
            width: 900px;
            margin: 40px auto;
            background: #ffffff;
            padding: 30px;
            border-radius: 8px;
        }

        header {
            border-bottom: 2px solid #2c7be5;
            padding-bottom: 15px;
            margin-bottom: 25px;
        }


        h2 {
            color: #2c7be5;
            border-left: 5px solid #2c7be5;
            padding-left: 10px;
            margin-bottom: 10px;
        }
       

        .footer{

        }
        .dark {
            background-color: #0f172a;
            color: #e5e7eb;
        }
         .dark .container {
            background: #1e293b;
            width: 900px;
            margin: 40px auto;
            padding: 30px;
            border-radius: 8px;
        }
        .mode-btn{
            background-color: #91A3B0;
            border-radius: 7px;
            cursor: pointer;
        }

        .dark .mode-btn{
            background-color: #0f172a;
            color: #2c7be5;
        }