body {
            font-family: Arial, Helvetica, sans-serif;
            background-color: #91A3B0;
            margin: 0;
            padding: 0;
        }

        .container {
            width: 900px;
            margin: 40px auto;
            background: #ffffff;
            padding: 30px;
            border-radius: 8px;
        }

        header {
            border-bottom: 2px solid #2c7be5;
            padding-bottom: 15px;
            margin-bottom: 25px;
        }

       

        header p {
            margin: 5px 0;
            color: #555;
        }

        section {
            margin-bottom: 25px;
        }

        section h2 {
            color: #2c7be5;
            border-left: 5px solid #2c7be5;
            padding-left: 10px;
            margin-bottom: 10px;
        }

        ul {
            padding-left: 20px;
        }

        ul li {
            margin-bottom: 6px;
        }

        .skills {
            display: grid;
            grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
            gap: 10px;
        }

        .tag {
            background: #e9f0fb;
            padding: 8px;
            border-radius: 5px;
            text-align: center;
            font-size: 14px;
        }

        footer {
            text-align: center;
            font-size: 14px;
            color: #777;
            margin-top: 30px;
        }