.quadrado{
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif ;
    background-color: rgba(114, 5, 114, 0.521);
    display: flex;
    padding: 30px;
    margin: 30px;
    width: 200px;
    


}